table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.pageTitle {
    text-align: center;
}


.footer-margin{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#textInput {
    padding: 10px;
    width: 100%;
    padding-left: 50px;
}