<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<div th:fragment="headlinks">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="basicstyle.css">
</div>

</head>


<body>

<div th:fragment="footer" class="footer-margin">
    <footer class="card-footer bg-light footer-font-style text-muted footer-position">&copy; 2019 Sue @SpringBoot</a>
    </footer>
</div>


</body>
</html>