<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
<h2 style="text-align: center">Course List</h2>


    <a href="/add" class="btn btn-default btn-sm">Add a Course
        <span class="glyphicon glyphicon-plus"></span>
    </a>

    <br/><br/>
    <table>
        <tr>
            <th>Title</th>
            <th>Instructor</th>
            <th>Credits</th>
            <th>Action</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.instructor}"></td>
            <td th:text="${course.credit}"></td>
            <td align="center">
                <a th:href="@{/update/{id}(id=${course.id})}"
                   class="btn btn-default btn-sm">Update
                   <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a th:href="@{/detail/{id}(id=${course.id})}"
                   class="btn btn-default btn-sm">Details
                   <span class="glyphicon glyphicon-search"></span>
                </a>
                <a th:href="@{/delete/{id}(id=${course.id})}"
                   class="btn btn-default btn-sm">Delete
                   <span class="glyphicon glyphicon-trash"></span>
                </a>


            </td>
        </tr>
    </table>
</body>
</html>