<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <div th:replace="~{fragments :: headlinks}"></div>
</head>
<body>
<h2 class="pageTitle">Course List</h2>
    <a href="/add" class="btn btn-default btn-sm">Add a Course
        <span class="glyphicon glyphicon-plus"></span>
    </a>

    <br/><br/>
    <table>
        <tr>
            <th>Title</th>
            <th>Instructor</th>
            <th>Credits</th>
            <th>Action</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.instructor}"></td>
            <td th:text="${course.credit}"></td>
            <td align="center">
                <a th:href="@{/update/{id}(id=${course.id})}"
                   class="btn btn-default btn-sm">Update
                   <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a th:href="@{/detail/{id}(id=${course.id})}"
                   class="btn btn-default btn-sm">Details
                   <span class="glyphicon glyphicon-search"></span>
                </a>
                <a th:href="@{/delete/{id}(id=${course.id})}"
                   class="btn btn-default btn-sm">Delete
                   <span class="glyphicon glyphicon-trash"></span>
                </a>


            </td>
        </tr>
    </table>


<div th:replace="~{fragments :: footer}"></div>

</body>
</html>